@import "reset.scss";

:root {
    font-size: 20px;
}
img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
}
#app {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 100px auto;
    width: 1600px;
    min-height: 100px;
    margin: 0 auto;
}
#app.match {
    > header {
        grid-column: 1 / 7;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        > div {
            margin: auto;
            > select {
                font-size: 1.5rem;
                min-width: 200px;
            }
        }
    }
    > .match-display {
        h2 {
            text-align: center;
        }
        grid-column: 1 / 7;
        display: grid;
        grid-template-columns: 1.5fr 1fr 1.5fr;
        gap: 1rem;
        .team {
            display: grid;
            grid-template-columns: 1fr 1fr;
            .player {
                display: grid;
                grid-template-rows: 100px 1fr 1fr 1fr;
                .civilization {
                    display: flex;
                    position: relative;
                    justify-content: center;
                    align-items: center;
                    > img {
                        width: 100%;
                        position: absolute;
                        box-shadow: inset 0 0 0 1px #000;
                    }
                    .revealer {
                        z-index: 1;
                        transition: opacity 400ms ease-in var(--delay);
                        &.reveal {
                            opacity: 0;
                        }
                        &.instant {
                            transition: opacity 0ms ease-in;
                        }
                    }
                }
            }
        }
        .maps {
            display: grid;
            grid-template-rows: 100px 1fr 1fr 1fr;
            grid-gap: 1rem;
            .map {
                display: flex;
                position: relative;
                justify-content: center;
                align-items: center;
                > img {
                    position: absolute;
                }
                .revealer {
                    z-index: 1;
                    transition: opacity 400ms ease-in var(--delay);
                    &.reveal {
                        opacity: 0;
                    }
                }
                .actual {
                    filter: brightness(0.95);
                }
                .name {
                    position: absolute;
                    font-size: 1.5rem;
                    z-index: 10;
                    color: transparent;
                    background: transparent;
                    text-shadow: transparent 1px 1px;
                    transition: all 400ms ease-in var(--delay);
                    &.reveal {
                        color: #fff;
                        text-shadow: #000 2px 2px;
                        text-align: center;
                    }
                }
            }
        }
    }
}

#app.list {
    > header {
        grid-column: 1/7;
        margin: auto;
        #display_toggle {
            width: 200px;
        }
    }
    .players {
        grid-column: 1/7;
        display: grid;
        grid-template-columns: 1fr;
        grid-column-start: span;
        align-content: space-evenly;
        &.team-display {
            grid-template-columns: 1fr 1fr;
            grid-gap: 1rem;
            .player .civs {
                display: grid;
                grid-template-columns: repeat(5, 1fr);
            }
        }
        .player {
            justify-self: center;
            justify-content: space-between;
            .name {
                font-size: 1.25rem;
                display: grid;
                grid-template-columns: auto 1fr;
                align-items: baseline;

                .team {
                    font-size: 0.75em;
                    font-style: italic;
                    color: #aaa;
                    padding-left: 0.5rem;
                }
                .bans {
                    font-size: 0.75em;
                    color: #aaa;
                    grid-column: 1/ 3;
                }
            }
            .civs {
                display: grid;
                grid-template-columns: repeat(10, 1fr);
                margin: 0;
            }
        }
    }
}
