* {
  box-sizing: border-box;
  font-size: 1em;
  margin: 0;
  border: 0;
  padding: 0; }

html {
  font-family: "Roboto", sans-serif;
  font-size: 25px; }

html,
body {
  display: flex;
  min-height: 100%;
  width: 100%; }

body {
  background: #fafafa; }

body > main {
  margin: auto; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal; }

:root {
  font-size: 20px; }

img {
  max-width: 100%;
  max-height: 100%;
  width: auto; }

#app {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 100px auto;
  width: 1600px;
  min-height: 100px;
  margin: 0 auto; }

#app.match > header {
  grid-column: 1 / 7;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; }
  #app.match > header > div {
    margin: auto; }
    #app.match > header > div > select {
      font-size: 1.5rem;
      min-width: 200px; }

#app.match > .match-display {
  grid-column: 1 / 7;
  display: grid;
  grid-template-columns: 1.5fr 1fr 1.5fr;
  gap: 1rem; }
  #app.match > .match-display h2 {
    text-align: center; }
  #app.match > .match-display .team {
    display: grid;
    grid-template-columns: 1fr 1fr; }
    #app.match > .match-display .team .player {
      display: grid;
      grid-template-rows: 100px 1fr 1fr 1fr; }
      #app.match > .match-display .team .player .civilization {
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center; }
        #app.match > .match-display .team .player .civilization > img {
          width: 100%;
          position: absolute;
          box-shadow: inset 0 0 0 1px #000; }
        #app.match > .match-display .team .player .civilization .revealer {
          z-index: 1;
          transition: opacity 400ms ease-in var(--delay); }
          #app.match > .match-display .team .player .civilization .revealer.reveal {
            opacity: 0; }
          #app.match > .match-display .team .player .civilization .revealer.instant {
            transition: opacity 0ms ease-in; }
  #app.match > .match-display .maps {
    display: grid;
    grid-template-rows: 100px 1fr 1fr 1fr;
    grid-gap: 1rem; }
    #app.match > .match-display .maps .map {
      display: flex;
      position: relative;
      justify-content: center;
      align-items: center; }
      #app.match > .match-display .maps .map > img {
        position: absolute; }
      #app.match > .match-display .maps .map .revealer {
        z-index: 1;
        transition: opacity 400ms ease-in var(--delay); }
        #app.match > .match-display .maps .map .revealer.reveal {
          opacity: 0; }
      #app.match > .match-display .maps .map .actual {
        filter: brightness(0.95); }
      #app.match > .match-display .maps .map .name {
        position: absolute;
        font-size: 1.5rem;
        z-index: 10;
        color: transparent;
        background: transparent;
        text-shadow: transparent 1px 1px;
        transition: all 400ms ease-in var(--delay); }
        #app.match > .match-display .maps .map .name.reveal {
          color: #fff;
          text-shadow: #000 2px 2px;
          text-align: center; }

#app.list > header {
  grid-column: 1/7;
  margin: auto; }
  #app.list > header #display_toggle {
    width: 200px; }

#app.list .players {
  grid-column: 1/7;
  display: grid;
  grid-template-columns: 1fr;
  grid-column-start: span;
  align-content: space-evenly; }
  #app.list .players.team-display {
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem; }
    #app.list .players.team-display .player .civs {
      display: grid;
      grid-template-columns: repeat(5, 1fr); }
  #app.list .players .player {
    justify-self: center;
    justify-content: space-between; }
    #app.list .players .player .name {
      font-size: 1.25rem;
      display: grid;
      grid-template-columns: auto 1fr;
      align-items: baseline; }
      #app.list .players .player .name .team {
        font-size: 0.75em;
        font-style: italic;
        color: #aaa;
        padding-left: 0.5rem; }
      #app.list .players .player .name .bans {
        font-size: 0.75em;
        color: #aaa;
        grid-column: 1/ 3; }
    #app.list .players .player .civs {
      display: grid;
      grid-template-columns: repeat(10, 1fr);
      margin: 0; }
