* {
    box-sizing: border-box;
    font-size: 1em;
    margin: 0;
    border: 0;
    padding: 0;
}

html {
    font-family: "Roboto", sans-serif;
    font-size: 25px;
}

html,
body {
    display: flex;
    min-height: 100%;
    width: 100%;
}

body {
    background: #fafafa;
}

body > main {
    margin: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}
